input[type="file"] {
    display: none;
}
input[type="text"] {
    margin: 10px;
    text-align: center;
    width: 200px;
}

input[type="submit"] {
    width: 2rem;
}

.file-button {
    color: white;
    height: 40px;
    width: 200px;
    background-color: tomato;
    position: relative;
    margin: auto;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box {
  background-color: red;
  padding: 20px;
  float: left;
  width: 300px;
  height: 300px;
}
.clr {
  clear: both;
}
